[Unit]
Description=Luuma Api Service
After=network.target

[Service]
User=root
ExecStart=/www/luuma-api/target/release/luuma-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
